@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Pinewood has six reclaimed wood lanes from an old Bowl O’ Rama in Indiana. One lane can accommodate groups of 6 or less. Balls and shoes are on us; it’s up to you to bring your A game.  A bowling lane is $40 per hour and includes shoe rental.</p>
