@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="align-center">
        <h1>Pinewood Social</h1>
        </br>
        <p class="lead">State of the art bowling alleys made with quality Pinewood from Washington State!</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pinewood Lanes</h2>
        <img class="Resize" src="~/Images/Pinewood-Social-1000x663.jpg" alt="lanes"/>
        <p>
            Our lanes are made with the best Pinewood Washington state has to offer!
        </p>
     @*   <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        
        <h2>Full Bar</h2>
        <div>
            <img class="Resize" src="~/Images/bar_bowling.jpg" alt="Bar Picture" />
        </div>
        <p>Come grab a drink from our extensive and awesome bar!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Reserve a lane</h2>
        <img class="Resize" src="~/Images/Bowling-lane.jpg" alt="bowling lane" />
        <p>You can reserve a lane with us for parties and events.</p>
        <div class="align-center">
        <p><a class="btn btn-default" @Html.ActionLink("Reserve","Create", "People")</a></p>
        </div>
    </div>
</div>