
@{
    ViewBag.Title = "Thanks";
}


<h2>Thanks</h2>
<h4>Your Reservation has been made</h4>
<div class="align-center">
    <a class="btn btn-default" @Html.ActionLink("Home","Index", "Home") </a>
</div>

